<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="bringUpLoginPage.css">
</head>
<body>

<div class="container">

    <div id="bringUpDashBoard">
        <div class="input-group1">
            <p>
                BringUp Website Under Construction.
            </p>
        </div>
    </div>

    <p id="responseMessage"></p>
</div>

</body>
</html>
